$theme-colors:(
    "primary":#0f1e40,
);

$spacer: 1rem !default;
$spacers: () !default;
$spacers:(
    6: ($spacer * 5)
);

.size{
    width:"100%";
    height:"100%"
}


@import "../../node_modules/bootstrap/scss/bootstrap";


   


